$placeholder-text-color: #adb5bd;
$focus-color: #fd9843;
$current-color: #fc7e14;
$secondary-color: white;
$border-color: #dee2e6;

.catalog-page {
  &__container {
    margin: 0px 62px;
    margin-top: 86px;
  }

  &__header {
    justify-content: space-between;
  }

  &__button-reset-sort {
    background-color: #fc7e14;
    color: white;
    width: auto;
    height: 36px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    padding: 5px;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      background-color: #ca6510;
    }
  }

  &__container-reset-filters {
    display: flex;
    flex-direction: row;
  }

  &__input-price {
    width: 100px;
    height: 36px;
    padding: 0px 16px;
    border: 1px solid $border-color;

    &::placeholder {
      color: $placeholder-text-color;
    }

    &:focus {
      outline: 2px solid $focus-color;
      z-index: 3;
    }
  }

  &__container-button-cart {
    justify-content: center;
  }

  &__button-cart,
  &__button-cart_open {
    border-radius: 6px !important;
    border: 1px solid $focus-color !important;
    width: 100%;
    padding: 6px 12px !important;
    cursor: pointer;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    transition: 0.2s;

    &:hover,
    &:hover {
      color: white !important;
      background-color: $focus-color !important;
    }
  }

  &__button-cart_open {
    margin: 0px !important;
  }

  &__button-cart_inactive {
    color: white !important;
    background-color: $focus-color !important;
  }

  &__input-price_from {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  &__input-price_to {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-left: 0px;
    margin-right: 8px;
  }

  &__input-search {
    padding: 0px 16px;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: 1px solid $border-color;

    &::placeholder {
      color: $placeholder-text-color;
    }

    &:focus {
      outline: 2px solid $focus-color;
    }
  }

  &__select-dropdown {
    background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2210%22%20height%3D%225%22%20viewBox%3D%220%200%2010%205%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0.833496%204.16666L5.00016%20-1.00136e-05L9.16683%204.16666H0.833496Z%22%20fill%3D%22black%22%20%2F%3E%3C%2Fsvg%3E');
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-left: 12px;
  }

  &__container-dropdown {
    width: 50%;
    white-space: nowrap;
    cursor: pointer;
    display: flex;
  }

  &__header-container {
    width: 50%;
    justify-content: space-between;
  }

  &__dropdown {
    width: 50%;
    gap: 12px;
  }

  &__input-icon {
    background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M21.0002%2021L16.6572%2016.657M16.6572%2016.657C17.4001%2015.9141%2017.9894%2015.0322%2018.3914%2014.0615C18.7935%2013.0909%2019.0004%2012.0506%2019.0004%2011C19.0004%209.94939%2018.7935%208.90908%2018.3914%207.93845C17.9894%206.96782%2017.4001%206.08588%2016.6572%205.34299C15.9143%204.6001%2015.0324%204.01081%2014.0618%203.60877C13.0911%203.20672%2012.0508%202.99979%2011.0002%202.99979C9.9496%202.99979%208.90929%203.20672%207.93866%203.60877C6.96803%204.01081%206.08609%204.6001%205.34321%205.34299C3.84288%206.84332%203%208.87821%203%2011C3%2013.1218%203.84288%2015.1567%205.34321%2016.657C6.84354%2018.1573%208.87842%2019.0002%2011.0002%2019.0002C13.122%2019.0002%2015.1569%2018.1573%2016.6572%2016.657Z%22%20stroke%3D%22%23ADB5BD%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E');
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 16px;
  }

  &__search-text_error {
    margin-bottom: 16px;
    font-size: 30px;
    font-weight: 600;
    color: #adb5bd;
  }

  &__search-img_error {
    width: 120px;
    height: 120px;
  }

  &__search-text_try {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 80px;
  }

  &__cards-cover {
    width: 196px;
    height: 294px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    position: relative;
  }

  &__body {
    flex-wrap: wrap;
    margin-top: 80px;
    width: 100%;
    gap: 84px;
    position: relative;
  }

  &__cards-name {
    font-size: 20px;
    font-weight: 600;
    width: 196px;
    padding-left: 5px;
    padding-right: 5px;
  }

  &__cards-body {
    min-width: 196px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    transition: transform 0.3s;
    cursor: pointer;
    justify-content: space-between;
  }

  &__cards-name_author {
    width: 196px;
    font-weight: 400;
    font-size: 16px;
    color: $placeholder-text-color;
    padding-left: 5px;
    padding-right: 5px;
  }

  &__cards-description,
  &__cards-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__cards-price {
    font-weight: 600;
    font-size: 20px;
    padding-left: 5px;
  }

  &__pagination {
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 80px;
    gap: 12px;
  }

  &__pagination_item {
    width: 33px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $placeholder-text-color;
    padding: 8px 12px;
    cursor: pointer;
  }

  &__pagination-container {
    gap: 4px;
  }

  &__pagination-arrow {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: 0px;
  }

  &__cards-discounted {
    color: $secondary-color;
    background-color: $current-color;
    width: 67px;
    height: 44px;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    font-size: 20px;
  }

  &__cards-price-container {
    display: flex;
    gap: 4px;
  }

  &__cards-price_discounted {
    text-decoration: line-through;
    font-size: 14px;
    color: #999999;
  }

  &__cards-description {
    transition: transform 0.3s;
    background-color: $secondary-color;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &__cards-container_hover {
    font-size: 14px;
    position: absolute;
    transition: transform 0.3s;
    width: 100%;
    height: auto;
    display: flex;
    transition: 0.3s;
    background-color: $secondary-color;
    opacity: 0;
    top: 0;
    background-color: $current-color;
    color: $secondary-color;
    padding: 5px 5px;
    font-style: italic;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &__search-container_error {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__cards-container {
    position: relative;
    z-index: 7;
    transition: transform 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 12px;

    &:hover {
      transform: scale(1.2);
      box-shadow: 0px 3px 15px 2px rgba(0, 0, 0, 0.8);
      z-index: 9;
      background-color: $secondary-color;
      border-radius: 10px;
    }

    &:hover .catalog-page__cards-container_hover {
      opacity: 1;
    }

    &:hover .catalog-page__cards-cover {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }

  &__breadcrumb {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    margin-bottom: 15px;
    cursor: pointer;
  }

  &__colored {
    background-color: $focus-color;
  }

  &__breadcrumb-arrow {
    background-image: url('data:image/svg+xml,%3Csvg%20width%3D%227%22%20height%3D%2212%22%20viewBox%3D%220%200%207%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1%201L6%206L1%2011%22%20stroke%3D%22%23999999%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E');
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__active-category,
  &__active-sort {
    background-color: $current-color !important;
    color: $secondary-color !important;
    border-radius: 4px !important;
  }

  &__input-price_reset {
    background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1.39989%2013.3079L0.691895%2012.5999L6.29189%206.99989L0.691895%201.39989L1.39989%200.691895L6.99989%206.29189L12.5999%200.691895L13.3079%201.39989L7.70789%206.99989L13.3079%2012.5999L12.5999%2013.3079L6.99989%207.70789L1.39989%2013.3079Z%22%20fill%3D%22%23ADB5BD%22%2F%3E%3C%2Fsvg%3E');
    width: 14px;
    height: 14px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 16px;
    z-index: 10;
  }

  @media (max-width: 1410px) {
    &__body {
      justify-content: space-around;
      gap: 60px;
    }
  }

  @media (max-width: 1200px) {
    &__body {
      gap: 40px;
    }

    &__header-container {
      width: 50%;
    }
  }

  @media (max-width: 940px) {
    &__container-dropdown {
      width: 100%;
      justify-content: flex-end;
    }

    &__header {
      gap: 10px;
      flex-direction: column;
    }

    &__header-container {
      width: 100%;
    }

    &__container-reset-filters {
      width: 100%;
      justify-content: space-between;
    }

    &__container-input-search {
      width: 60%;
    }

    &__button-reset-sort {
      width: 40%;
    }

    &__body {
      margin-top: 50px;
    }

    &__pagination {
      margin-top: 50px;
    }
  }

  @media (max-width: 795px) {
    &__body {
      gap: 10px;
      justify-content: space-around;
    }
  }

  @media (max-width: 570px) {
    &__header-container {
      flex-direction: column;
      gap: 10px;
    }

    &__container-dropdown {
      justify-content: flex-start;
    }
  }

  @media (max-width: 540px) {
    &__container {
      margin: 0px 12px;
      margin-top: 30px;
    }

    &__cards-body {
      flex-direction: row;
      margin-bottom: 10px;
    }

    &__body {
      justify-content: flex-start;
      margin-top: 30px;
      margin-bottom: 30px;
      gap: 25px;
    }

    &__pagination {
      margin-top: 15px;
      margin-bottom: 50px;
    }

    &__cards-cover {
      width: 140px;
      height: 150px;
    }

    &__cards-name {
      font-size: 16px;
    }

    &__cards-container_hover {
      opacity: 0;
      right: 0;
    }

    &__cards-container {
      width: 100%;
      gap: 0px;

      &:hover {
        transform: none;
        box-shadow: none;
      }

      &:hover .catalog-page__cards-container_hover {
        opacity: 0;
      }

      &:hover .catalog-page__cards-cover {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
      }
    }

    &__button-cart {
      margin: 0px !important;
    }
  }
}

.list-categories,
.list-sort {
  border: 1px solid $border-color !important;
  border-radius: 4px !important;
  padding: 8px 0px !important;

  &__item,
  &__item {
    padding: 8px 16px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 114% !important;
    cursor: pointer;

    &:hover,
    &:hover {
      background-color: #ffe5d0 !important;
      color: black !important;
    }
  }
}

.active-page {
  background-color: $current-color !important;
  color: $secondary-color !important;
  border-radius: 4px !important;
}

.catalog-page__active-modal {
  overflow: scroll !important;
}
