@import '~bootstrap/scss/bootstrap';

$screen-width-desktop: 1440px;
$screen-width-tablet: 768px;
$screen-width-mobile: 375px;
$screen-burger: $screen-width-tablet - 80px;

.navbar.header {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;

  justify-content: space-between;

  margin: 30px 62px;
  @media (width <= $screen-width-tablet) {
    margin: 22px 56px;
  }
  @media (width <= $screen-width-mobile) {
    margin: 22px 25px;
  }

  .header__brand {
    font-weight: 500;
    font-size: 16px;

    display: flex;
    align-items: center;

    img {
      margin-right: 12px;
      width: 47px;
    }
  }

  .header__linkCollapse {
    .navbar-nav {
      display: flex;
      flex-direction: row;
      justify-content: center;

      gap: 3.5vw;
      @media (max-width: $screen-width-tablet) {
        gap: 2vw;
      }
      @media (max-width: #{$screen-width-tablet - 100px}) {
        gap: 0;
      }
    }

    @media (width <= $screen-burger) {
      display: none;
    }
  }

  .header__btnWrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .header__burger {
      display: none;
      @media (width <= $screen-burger) {
        display: flex;
      }
    }

    // without figma - add hover, active - color
    .header__btnImg {
      &:hover {
        background-color: $gray-200;
      }

      &:active {
        background-color: $gray-300;
      }
    }

    .header__actionBtn {
      @media (width <= $screen-burger) {
        display: none;
      }
    }
  }
}
