@import '~bootstrap/scss/bootstrap';

$screen-width-desktop: 1440px;
$screen-width-tablet: 768px;
$screen-width-mobile: 375px;

.header.navbar {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;

  justify-content: space-between;

  margin: 30px 62px;
  @media (width <= $screen-width-tablet) {
    margin: 22px 56px;
  }
  @media (width <= $screen-width-mobile) {
    margin: 22px 25px;
  }

  .navbar-brand {
    font-weight: 500;

    display: flex;
    align-items: center;

    img {
      margin-right: 12px;
      width: 47px;
    }
  }

  .header__linkCollapse {
    .navbar-nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 35px; // more than in figma
    }

    @media (width <= $screen-width-mobile) {
      display: none;
    }
  }

  .header__btnWrapper {
    display: flex;
    align-items: center;
    gap: 8px;

    .header__burger {
      display: none;
      @media (width <= $screen-width-mobile) {
        display: flex;
      }
    }

    display: flex;
    .header__loginDropdown {
      @media (width <= $screen-width-mobile) {
        display: none;
      }
    }
  }
}

button.btn.btn-orange {
  background-color: $orange-500;
  color: white;

  font-size: 16px;
  font-weight: 400;
  line-height: 19px;

  &:hover {
    background-color: $orange-600;
  }

  &:active {
    background-color: $orange-700;
  }
}

.dropdown-orange {
  .dropdown-item {
    padding: 10px 16px 10px 16px;
    &.active,
    &:active {
      background-color: $orange-600;
    }

    // .nav-link {
    //   &:active,
    //   &:focus {
    //     background-color: $orange-600;
    //   }
    // }
  }
}
