@import './../../breakpoints.scss';
@import '~bootstrap/scss/bootstrap';
.findYourBook {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (width <= $screen-burger) {
    flex-direction: column-reverse;
  }

  max-width: $screen-width-desktop;
  margin-left: auto;
  margin-right: auto;

  padding: 0 62px 25px 62px;
  @media (width <= $screen-burger) {
    padding: 0 34px 64px 34px;
  }

  @media (width <= 540px) {
    padding: 0 12px 64px 12px;
  }

  &__leftColumn {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  &__img {
    height: auto;
    object-fit: contain;
    max-width: 50%;

    @media (width <= $screen-burger) {
      margin-left: auto;
      margin-right: auto;
      max-width: 277px;
    }
  }

  p {
    margin-bottom: 0;
  }

  &__text {
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;

    @media (width <= $screen-width-tablet) {
      font-size: 32px;
      line-height: 39px;
    }

    &-orange {
      color: $orange-500;
    }
  }

  &__btn {
    width: 50%;

    @media (width <= $screen-burger) {
      width: 100%;
    }
  }

  &__motto {
    color: rgba(0, 0, 0, 0.4);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;

    padding-top: 24px;

    @media (width <= $screen-width-tablet) {
      font-size: 14px;
      line-height: 22px;

      padding-top: 16px;
    }
  }
}

.findYourBookBottom {
  display: flex;
  gap: 10%;
  padding: 0 62px 64px 62px;

  @media (width <= $screen-burger) {
    display: none;
  }

  max-width: $screen-width-desktop;
  margin-left: auto;
  margin-right: auto;

  p {
    margin-bottom: 0;
  }

  &__textSmall {
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;

    @media (width <= ($screen-width-tablet + 100px)) {
      font-size: 24px;
    }

    &-orange {
      color: $orange-500;
    }
  }
}
