$placeholder-color: #adb5bd;
$font-family-page: 'Inter', sans-serif;
$checkboxs-buttons-color: #fd7e14;

.height-auto {
  height: auto;
}

form .registration-form__input,
.registration-form__input-content,
form .registration-form__input-birth,
form .registration-form__input-password {
  border: 1px solid #dee2e6;
  border-radius: 6px;
  padding: 14px 16px;
  width: 306px;
  height: 52px;
  font-family: $font-family-page;
  margin-bottom: 16px;
}

.registration-form__input-content {
  display: flex;
  justify-content: space-between;
  position: relative;
  border: none;
}

.registration-form__input-birth,
.registration-form__input-password {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 14px 16px;
}

form .registration-form__input-birth {
  font-size: 16px;
}

form .registration-form__input::placeholder,
form .registration-form__input-birth::placeholder,
form .registration-form__input-password::placeholder {
  color: $placeholder-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  line-height: 20px;
  letter-spacing: 0.4px;
}

.registration-form__input-birth_icon,
.registration-form__input-password_icon,
.registration-form__toggle-password_icon {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 18 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 18H2V7H16M13 0V2H5V0H3V2H2C0.89 2 0 2.89 0 4V18C0 18.5304 0.210714 19.0391 0.585786 19.4142C0.960859 19.7893 1.46957 20 2 20H16C16.5304 20 17.0391 19.7893 17.4142 19.4142C17.7893 19.0391 18 18.5304 18 18V4C18 3.46957 17.7893 2.96086 17.4142 2.58579C17.0391 2.21071 16.5304 2 16 2H15V0M14 11H9V16H14V11Z' fill='%23ADB5BD' /%3E%3C/svg%3E");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  margin-right: 37px;
  transition: 0.2s;
}

.registration-form__input-birth::-webkit-calendar-picker-indicator {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 18 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 18H2V7H16M13 0V2H5V0H3V2H2C0.89 2 0 2.89 0 4V18C0 18.5304 0.210714 19.0391 0.585786 19.4142C0.960859 19.7893 1.46957 20 2 20H16C16.5304 20 17.0391 19.7893 17.4142 19.4142C17.7893 19.0391 18 18.5304 18 18V4C18 3.46957 17.7893 2.96086 17.4142 2.58579C17.0391 2.21071 16.5304 2 16 2H15V0M14 11H9V16H14V11Z' fill='%23ADB5BD' /%3E%3C/svg%3E");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  margin-right: 34px;
  transition: 0.2s;
}

.registration-form__input-password_icon {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 22 19"%3E%3Cpath d="M10.83 6L14 9.16V9C14 8.20435 13.6839 7.44129 13.1213 6.87868C12.5587 6.31607 11.7956 6 11 6H10.83ZM6.53 6.8L8.08 8.35C8.03 8.56 8 8.77 8 9C8 9.79565 8.31607 10.5587 8.87868 11.1213C9.44129 11.6839 10.2044 12 11 12C11.22 12 11.44 11.97 11.65 11.92L13.2 13.47C12.53 13.8 11.79 14 11 14C9.67392 14 8.40215 13.4732 7.46447 12.5355C6.52678 11.5979 6 10.3261 6 9C6 8.21 6.2 7.47 6.53 6.8ZM1 1.27L3.28 3.55L3.73 4C2.08 5.3 0.78 7 0 9C1.73 13.39 6 16.5 11 16.5C12.55 16.5 14.03 16.2 15.38 15.66L15.81 16.08L18.73 19L20 17.73L2.27 0M11 4C12.3261 4 13.5979 4.52678 14.5355 5.46447C15.4732 6.40215 16 7.67392 16 9C16 9.64 15.87 10.26 15.64 10.82L18.57 13.75C20.07 12.5 21.27 10.86 22 9C20.27 4.61 16 1.5 11 1.5C9.6 1.5 8.26 1.75 7 2.2L9.17 4.35C9.74 4.13 10.35 4 11 4Z" fill="%23ADB5BD" /%3E%3C/svg%3E');
}

.registration-form__toggle-password_icon {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 22 16"%3E%3Cpath d="M11 5C10.2044 5 9.44129 5.31607 8.87868 5.87868C8.31607 6.44129 8 7.20435 8 8C8 8.79565 8.31607 9.55871 8.87868 10.1213C9.44129 10.6839 10.2044 11 11 11C11.7956 11 12.5587 10.6839 13.1213 10.1213C13.6839 9.55871 14 8.79565 14 8C14 7.20435 13.6839 6.44129 13.1213 5.87868C12.5587 5.31607 11.7956 5 11 5ZM11 13C9.67392 13 8.40215 12.4732 7.46447 11.5355C6.52678 10.5979 6 9.32608 6 8C6 6.67392 6.52678 5.40215 7.46447 4.46447C8.40215 3.52678 9.67392 3 11 3C12.3261 3 13.5979 3.52678 14.5355 4.46447C15.4732 5.40215 16 6.67392 16 8C16 9.32608 15.4732 10.5979 14.5355 11.5355C13.5979 12.4732 12.3261 13 11 13ZM11 0.5C6 0.5 1.73 3.61 0 8C1.73 12.39 6 15.5 11 15.5C16 15.5 20.27 12.39 22 8C20.27 3.61 16 0.5 11 0.5Z" fill="%23ADB5BD" /%3E%3C/svg%3E');
}

.registration-form__title {
  font-family: $font-family-page;
  margin-bottom: 48px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 32px;
}

.shipping-form {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.shipping-form__title,
.billing-form__title {
  margin-bottom: 24px;
  font-family: $font-family-page;
  font-weight: 600;
  font-size: 16px;
}

.billing-form__title {
  margin-top: 36px;
}

.shipping-form__checkbox-container,
.billing-form__checkbox-container {
  width: 306px;
  display: flex;
  gap: 12px;
  justify-content: flex-start;
  margin-bottom: 13px;
}

.billing-form__checkbox-container {
  margin-top: 7px;
  margin-bottom: 44px;
}

.shipping-form__checkbox_label,
.billing-form__checkbox_label {
  white-space: nowrap;
  font-weight: 400;
  font-size: 16px;
  font-family: $font-family-page;
  text-align: center;
}

div .shipping-form__checkbox,
div .billing-form__checkbox {
  appearance: none;
  border: 2px solid $checkboxs-buttons-color;
  outline: none;
  cursor: pointer;
}

div .shipping-form__checkbox:checked,
div .billing-form__checkbox:checked {
  background-color: $checkboxs-buttons-color;
  border-color: $checkboxs-buttons-color;
  box-shadow: none;
}

div .shipping-form__checkbox:focus,
div .billing-form__checkbox:focus {
  border-color: $checkboxs-buttons-color;
  box-shadow: none;
}

.billing-form__button {
  border: 2px solid $checkboxs-buttons-color;
  border-radius: 6px;
  padding: 10px 12px;
  width: 306px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-family-page;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #000;
  transition: all 0.4s ease;
  margin-bottom: 48px;
  margin-top: 15px;
}

div .registration-page__button-signup {
  border-radius: 6px;
  padding: 16px 24px;
  width: 306px;
  height: 50px;
  color: white !important;
  background-color: $checkboxs-buttons-color !important;
  border: 2px solid $checkboxs-buttons-color !important;
  font-family: $font-family-page;
  font-weight: 600;
  font-size: 16px;
  line-height: 112%;
  transition: all 0.4s ease;
  margin-bottom: 32px;
}

.registration-page__button-login {
  margin-bottom: 70px;
  color: #ca6510;
  font-family: $font-family-page;
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  cursor: pointer;
}

.registration-page__button-main {
  color: #ca6510;
  font-family: $font-family-page;
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  cursor: pointer;
}

div .error-register {
  width: 306px;
  font-size: 16px;
  font-family: $font-family-page;
  font-weight: 400;
  display: none;
}

.error-register_active {
  display: block;
}

.shipping-form__container-list_results {
  position: absolute;
  top: 52px;
  left: 0;
  width: 306px;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  border-top: none;
  border-radius: 0 0 5px 5px;
  z-index: 999;
}

.shipping-form__container-list {
  position: relative;
}

.shipping-form__list-element {
  list-style-type: none;
  font-size: 16px;
  cursor: pointer;
}

.shipping-form__list-countries {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  gap: 5px;
  margin: 0px;
}

.modal_registration_successful {
  .modal-backdrop {
    opacity: 0 !important;
  }

  .modal-header,
  .modal-content {
    border-color: $checkboxs-buttons-color !important;
  }

  .modal-header {
    background-color: #fd9843 !important;
  }

  .btn-close {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    color: red !important;
  }

  .modal-dialog {
    position: fixed !important;
    right: 25px !important;
  }
}

@media (hover: hover) {
  .billing-form__button:hover {
    background-color: #feb272;
    border: 2px solid #feb272;
  }

  .registration-page__button-signup:hover {
    background-color: #d76b11 !important;
    border: 2px solid #d76b11 !important;
  }

  .shipping-form__list-element:hover {
    color: #c75b00;
  }
}

@media (max-width: 500px) {
  .shipping-form__checkbox_label {
    white-space: wrap;
    text-align: start;
  }
}

@media (max-width: 575px) {
  .modal-dialog {
    right: 0 !important;
  }
}
