@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

form .registration-form__input,
.registration-form__input-content,
form .registration-form__input-birth,
form .registration-form__input-password {
    border: 1px solid #DEE2E6;
    border-radius: 6px;
    padding: 14px 16px;
    width: 306px;
    height: 52px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 16px;
}

.registration-form__input-content {
    display: flex;
    justify-content: space-between;
    position: relative;
    border: none;
}

.registration-form__input-birth,
.registration-form__input-password {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 14px 16px;
}

form .registration-form__input-birth {
    font-size: 16px;
    color: #ADB5BD;
}

form .registration-form__input::placeholder,
form .registration-form__input-birth::placeholder,
form .registration-form__input-password::placeholder {
    color: #ADB5BD;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    line-height: 20px;
    letter-spacing: 0.4px;
}

.registration-form__input-birth_icon,
.registration-form__input-password_icon {
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 18 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 18H2V7H16M13 0V2H5V0H3V2H2C0.89 2 0 2.89 0 4V18C0 18.5304 0.210714 19.0391 0.585786 19.4142C0.960859 19.7893 1.46957 20 2 20H16C16.5304 20 17.0391 19.7893 17.4142 19.4142C17.7893 19.0391 18 18.5304 18 18V4C18 3.46957 17.7893 2.96086 17.4142 2.58579C17.0391 2.21071 16.5304 2 16 2H15V0M14 11H9V16H14V11Z' fill='%23ADB5BD' /%3E%3C/svg%3E");
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    margin-right: 37px;
}

.registration-form__input-password_icon {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 22 19"%3E%3Cpath d="M10.83 6L14 9.16V9C14 8.20435 13.6839 7.44129 13.1213 6.87868C12.5587 6.31607 11.7956 6 11 6H10.83ZM6.53 6.8L8.08 8.35C8.03 8.56 8 8.77 8 9C8 9.79565 8.31607 10.5587 8.87868 11.1213C9.44129 11.6839 10.2044 12 11 12C11.22 12 11.44 11.97 11.65 11.92L13.2 13.47C12.53 13.8 11.79 14 11 14C9.67392 14 8.40215 13.4732 7.46447 12.5355C6.52678 11.5979 6 10.3261 6 9C6 8.21 6.2 7.47 6.53 6.8ZM1 1.27L3.28 3.55L3.73 4C2.08 5.3 0.78 7 0 9C1.73 13.39 6 16.5 11 16.5C12.55 16.5 14.03 16.2 15.38 15.66L15.81 16.08L18.73 19L20 17.73L2.27 0M11 4C12.3261 4 13.5979 4.52678 14.5355 5.46447C15.4732 6.40215 16 7.67392 16 9C16 9.64 15.87 10.26 15.64 10.82L18.57 13.75C20.07 12.5 21.27 10.86 22 9C20.27 4.61 16 1.5 11 1.5C9.6 1.5 8.26 1.75 7 2.2L9.17 4.35C9.74 4.13 10.35 4 11 4Z" fill="%23ADB5BD" /%3E%3C/svg%3E');
}

.registration-form__title {
    font-family: 'Inter', sans-serif;
    margin-bottom: 48px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 32px;
    color: #000;
}

.shipping-form {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.shipping-form__title,
.billing-form__title {
    margin-bottom: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.billing-form__title {
    margin-top: 36px;
}

.shipping-form__checkbox-container,
.billing-form__checkbox-container {
    width: 306px;
    display: flex;
    gap: 12px;
    justify-content: flex-start;
    margin-bottom: 13px;
}

.billing-form__checkbox-container {
    margin-top: 7px;
    margin-bottom: 44px;
}

.shipping-form__checkbox_label,
.billing-form__checkbox_label {
    white-space: nowrap;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: #000;
    text-align: center;
}

div .shipping-form__checkbox,
div .billing-form__checkbox {
    appearance: none;
    border: 2px solid #fd7e14;
    outline: none;
    cursor: pointer;
}

div .shipping-form__checkbox:checked,
div .billing-form__checkbox:checked {
    background-color: #fd7e14;
    border-color: #fd7e14;
    box-shadow: none;
}

div .shipping-form__checkbox:focus,
div .billing-form__checkbox:focus {
    border-color: #fd7e14;
    box-shadow: none;
}

.billing-form__button {
    border: 2px solid #fd7e14;
    border-radius: 6px;
    padding: 10px 12px;
    width: 306px;
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #000;
    transition: all 0.4s ease;
    margin-bottom: 48px;
    margin-top: 15px;
}

.registration-page__button-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    padding: 16px 24px;
    width: 306px;
    height: 50px;
    color: white;
    background-color: #fd7e14;
    border: 2px solid #fd7e14;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 112%;
    transition: all 0.4s ease;
    margin-bottom: 32px;
}

.registration-page__button-login {
    margin-bottom: 70px;
    color: #CA6510;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    cursor: pointer;
}

div .error-register {
    width: 306px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    display: none;
}

.error-register_active {
    display: block;
}

.shipping-form__container-list_results {
    position: absolute;
    top: 52px;
    left: 0;
    width: 306px;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border-top: none;
    border-radius: 0 0 5px 5px;
    z-index: 999;
}

.shipping-form__container-list {
    position: relative;
}

.shipping-form__list-element {
    list-style-type: none;
    font-size: 16px;
    cursor: pointer;
}

.shipping-form__list-countries {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 5px;
    margin: 0px;
}

@media(hover: hover) {
    .billing-form__button:hover {
        background-color: #feb272;
        border: 2px solid #feb272;
    }

    .registration-page__button-signup:hover {
        background-color: #d76b11;
        border: 2px solid #d76b11;
    }

    .shipping-form__list-element:hover {
        color: #c75b00;
    }
}
