@import './../../breakpoints.scss';

.basketPage {
  margin: 30px 62px;
  @media (width <= $screen-width-tablet) {
    margin: 22px 56px;
  }
  @media (width <= $screen-width-mobile) {
    margin: 22px 12px;
  }
}

.basketProductList {
  display: flex;
  flex-direction: column;
  gap: 44px;

  margin-bottom: 100px;
}

.basketSummary {
  display: flex;
  flex-direction: column;
  width: 364px;

  margin: 48px;

  &__title {
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 140%;

    margin-bottom: 32px;
  }

  &__titlePromo {
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;

    margin-bottom: 20px;
  }

  &__linesWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;

    margin-top: 48px;
    margin-bottom: 48px;
  }

  &__boldLine {
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
  }

  &__grayLine {
    color: rgb(173, 181, 189);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
  }

  &__btnCheckOut,
  .btn {
    padding: 16px 24px 16px 24px;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
  }

  &__apply,
  .btn {
    padding: 16px 24px 16px 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
  }
}

.basketProduct {
  display: flex;
  gap: 32px;

  &__leftColumn {
    display: flex;
    flex-direction: column;
  }

  &__rightColumn {
    display: flex;
    flex-direction: column;
  }

  &__image {
    width: 196px;
    height: 294px;
    object-fit: cover;
    cursor: pointer;
  }

  &__title {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;

    margin-bottom: 20px;
    cursor: pointer;
  }

  &__author {
    color: rgba(0, 0, 0, 0.4);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }

  &__price {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;

    margin-bottom: 20px;
  }


  &__pricePrevios {
    // TODO: update this
    color: gray;
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    text-decoration-line: line-through;

    margin-bottom: 20px;
    margin-left: 16px;
  }


  &__quantityInput {
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: -1px;
    letter-spacing: 0.15px;
    text-align: left;
    text-transform: lowercase;

    box-sizing: border-box;
    border: 2px solid rgb(253, 126, 20);
    border-radius: 6px;

    padding: 9px 10px 9px 10px;

    // width: 120px;

    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  &__quantityInputButton {
    padding-left: 5px;
    padding-right: 5px;
    user-select: none;
    cursor: pointer;
  }

  &__quantityInputNumber {
    padding-left: 5px;
    padding-right: 5px;
    user-select: none;
  }

  &__removeLink {
    color: rgb(153, 153, 153);
    font-family: Mulish;
    font-size: 20px;
    font-weight: 500;
    line-height: -1px;
    letter-spacing: 0.15px;
    text-decoration: none;
    cursor: pointer;
    align-self: center;
  }

  &__cardButtons {
    display: flex;
    gap: 20px;
  }
}
