@import '../utils/utils.scss';
$title-color: #adb5bd;

.error-wrapper {
  width: 100%;
  max-width: 490px;
  gap: 11px;
  height: auto;
  margin: auto;

  .error-wrapper__img {
    width: 100%;
  }

  .error-content-block {
    width: 100%;
    max-width: 430px;

    .error-content-block__title {
      margin-bottom: 16px;
      font-size: 58px;
      font-weight: 600;
      color: $title-color;
    }

    .error-content-block__error-desc {
      @include body-regular-text;
      margin-bottom: 32px;
    }

    .error-content-block__home-btn {
      @include btn-styles;
      width: 306px;

      .home-btn__content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
      }
    }
  }
}
