@import './../../breakpoints.scss';

.footer {
  display: flex;
  justify-content: center;
  gap: 24px;

  margin-top: 0;
  margin-bottom: 28px;
  @media (width <= $screen-burger) {
    flex-direction: column;
    margin-left: 35px;
    margin-right: 35px;
  }

  &__cart {
    gap: 16px !important;
    color: black;
    margin-right: 19px;
  }
}
