$grey-400: #999999;
$input-bgc: rgba(254, 178, 114, 0.08);
$input-border-color: rgba(254, 178, 114, 0.3);
$orange-400: #fd9843;

.user-profile-main {
  width: auto;
  margin: 0 auto;
  margin-top: 9rem;
  gap: 96px;

  @media screen and (max-width: 768px) {
    & {
      width: auto;
      max-width: 636px;
      gap: 64px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .user-profile-main__header {
    gap: 48px;
    margin-right: auto;
    @media screen and (max-width: 768px) {
      & {
        align-items: center;
        gap: 48px;
        margin-right: 0;
        flex-direction: column;
      }
    }

    .user-profile-header__img {
      max-width: 273px;

      @media screen and (max-width: 768px) {
        & {
          max-width: 200px;
        }
      }
    }

    .user-profile-header__info {
      justify-content: center;
      gap: 4px;
      text-align: left;

      .user-profile-header__residence {
        font-size: 20px;
        color: $grey-400;
      }
    }
  }

  .user-profile-form {
    max-width: 766px;
    margin-bottom: 144px;
    padding: 10px;
    gap: 96px;
    box-shadow: (0px 4px 30px rgba(181, 181, 181, 0.2));

    .edit-btn {
      gap: 7px;
      margin-left: auto;
      align-items: center;
      color: $orange-400;
    }

    .read-form-btn {
      color: #999999;
    }

    .user-profile-form__personal-info {
      gap: 40px;
      @media screen and (max-width: 768px) {
        & {
          align-items: center;
        }
      }
    }

    .personal-info__inputs-container,
    .addresses-info__inputs-container {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      column-gap: 134px;
      row-gap: 40px;

      @media screen and (max-width: 768px) {
        & {
          grid-template-columns: 1fr;
          grid-template-rows: repeat(5, 1fr);
          column-gap: 24px;
        }
      }

      .user-profile-form__label {
        position: relative;
        gap: 8px;
        color: $grey-400;

        .user-profile-form__input {
          width: 306px;
          height: 52px;
          padding: 16px;
          background-color: $input-bgc;
          border: 1px solid $input-border-color;
        }

        .user-profile-form__show-password-btn {
          position: absolute;
          top: 43px;
          right: 45px;
          cursor: pointer;
        }

        .error {
          margin-top: 8px;
          text-align: left;
        }
      }

      input[type='date'] {
        padding-right: 40px !important;
      }
    }

    .addresses-info__inputs-container {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);

      @media screen and (max-width: 768px) {
        & {
          grid-template-columns: 1fr;
          grid-template-rows: repeat(4, 1fr);
          column-gap: 24px;
        }
      }
    }

    .user-profile-form__addresses-info {
      gap: 40px;
      @media screen and (max-width: 768px) {
        & {
          align-items: center;
        }
      }

      .shipping-address-box__title,
      .billing-address-box__title {
        margin-bottom: 24px;
        font-size: 16px;
      }

      .billing-address-box__title {
        margin-top: 20px;
      }
    }

    .save-changes-btn {
      width: 306px;
      height: 52px;
      margin: 0 auto;
    }
  }
}
